<form action="/add-favorites" method="POST">
  <button
    class="bg-yellow-400 text-black px-3 py-1 rounded-md hover:bg-yellow-500 transition hover:cursor-pointer"
  >
    Favorite
  </button>
  <input type="hidden" name="id" value="<%= home._id %>" />
</form>
