<div class="max-w-5xl mx-auto px-6">
  <h1 class="features text-5xl md:text-6xl font-extrabold text-red-500 mb-6">
    <span class="text-white bg-gray-600 px-4 py-2 rounded-2xl">FIND</span>
    <span
      class="relative inline-block h-[1.15em] align-bottom overflow-hidden ml-2 text-gray-600"
    >
      <span>AFFORDABLE STAYS</span>
      <span>UNIQUE HOMES</span>
      <span>TRUSTED HOSTS</span>
      <span>LOCAL EXPERIENCES</span>
      <span>LAST-MINUTE DEALS</span>
      <span>AFFORDABLE STAYS</span>
    </span>
  </h1>
</div>
